.link {
	cursor: pointer;
	text-decoration: underline;
}

div.program-info {
	line-height: 0.8;
	display: inline-block;
	padding-left: 10px;
}

div.channels-list {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 300px;
}

div.search-list {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 300px;
}

body {
	background-color: rgb(18, 18, 30);
	color: #fff;
	margin-top: 15px;
}

label.btn {
	background-color: rgb(42, 42, 52);
}

label.btn:hover {
	background-color: rgb(42, 42, 52) !important;
}

label.btn:active {
	background-color: rgb(0, 123, 255) !important;
}

label.btn-channel {
	text-align: left;
}

label.btn-option {
	max-width: 100px;
	text-align: center;
	vertical-align: middle;
}

label.btn-option-half {
	max-width: 50px !important;
	max-height: 20px !important;
}

label.btn-fullwidth {
	max-width: 100%;
}

div.searching {
	display: none;
}

input[name=search_text] {
	width: 100%;
	height: 65px;
	font-size: 30pt;
}